{% extends 'base.html' %}

{% load static %}

{% block content %}


    <form action="{% url 'forgot_password' %}" style="border:1px solid #ccc" method="POST">
        {% csrf_token %}
      <div class="container-r">
        <h1>Forgot Password</h1>
        <p>Please enter your registered email address</p>
        {% include "alerts.html" %}
        <hr>


        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" required>
        
        <a href="{% url 'login' %}" style="color:dodgerblue">Got password? Login</a>
    
        <div class="clearfix">
          <button type="button" class="cancelbtn">Cancel</button>
          <button type="submit" class="signupbtn">submit</button>
        </div>

        <p> Don't have an account? <a href="{% url 'register' %}" style="color:dodgerblue">Register here </a></p>
        
        <p style="color:red">{{ form.email.errors}}</p>
        <p style="color:red">{{ form.non_field_errors}}</p>

      </div>

    </form>
    
    </body>

{% endblock %}
</html>