{% extends 'base.html' %}

{% load static %}

{% block content %}

    {% if request.GET.command == 'verification' %}
    <div class="container-r">
      <div class="success-msg">
        <p>Thank you for registering with us.</P>
          
        <p>We have sent you a verification link to your email address [{{request.GET.email}}]
          <br><br>
        <p> Already verified? <a href="#" style="color:dodgerblue">Login </a></p>
      </div>
    </div>
    
    {% else %}

    <form action="{% url 'login' %}" style="border:1px solid #ccc" method="POST">
        {% csrf_token %}
      <div class="container-r">
        <h1>Login</h1>
        <p>Please enter the credentials to log in to your account.</p>
        {% include "alerts.html" %}
        <hr>


        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        
        <a href="{% url 'forgot_password'  %}" style="color:dodgerblue">Forgot password ?</a>
    
        <div class="clearfix">
          <button type="button" class="cancelbtn">Cancel</button>
          <button type="submit" class="signupbtn">Login</button>
        </div>

        <p> Don't have an account? <a href="{% url 'register' %}" style="color:dodgerblue">Register here </a></p>
        
        <p style="color:red">{{ form.email.errors}}</p>
        <p style="color:red">{{ form.non_field_errors}}</p>

      </div>

    </form>
    {% endif %}
    
    </body>

{% endblock %}
</html>