{% extends 'base.html' %}

{% load static %}

{% block content %}


    <div class="container-r">

    <form action="{% url 'reset_password' %}" style="border:1px solid #ccc" method="POST">
        {% csrf_token %}
      <div class="container-r">
        <h1>Reset Password</h1>
        <p>Please reset your password.</p>
        {% include "alerts.html" %}
        <hr>


        <label for="psw"><b>New password</b></label>
        <input type="password" placeholder="New Password" name="password" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Confirm Password" name="confirm_password" required>
        
    
        <div class="clearfix">
          <button type="button" class="cancelbtn">Cancel</button>
          <button type="submit" class="signupbtn">Reset</button>
        </div>

        
        <p style="color:red">{{ form.email.errors}}</p>
        <p style="color:red">{{ form.non_field_errors}}</p>

      </div>

    </form>
    </div>

    
    </body>

{% endblock %}
</html>