{% extends 'base.html' %}

{% load static %}

{% block content %}

<section id="feature" class="section-p1">
    <a href="{% url 'store' %}">
        <div id="fe-box">
            {% comment %} <img src="{{ category.cat_img.url }}"> {% endcomment %}
            <h5> All Products </h5>
        </div>
    </a>
    {% for category in links %}
    <a href="{{ category.get_url }}">
        <div id="fe-box">
            {% comment %} <img src="{{ category.cat_img.url }}"> {% endcomment %}
            <h5>{{ category.category_name }}</h5>
        </div>
    </a>
    {% endfor %}
</section> 

<section id="product1" class="section-p1">
    {% comment %} <h2>Featured Products</h2>
    <p>New designs with customization options</p> {% endcomment %}
    {% if 'search' in request.path %}
        <h2> Search Results </h2>
    {% endif %}

    <p> {{product_count}}  products  found </p>
    <div class="pro-contain">
        {% for product in products %}
        <div class="pro" >
           <a href="{{product.get_url}}"> <img src="{{product.images.url}}" alt=""> </a>
            <div class="desc">
                <span>{{product.brand_name}}</span>
                <a href="{{product.get_url}}"> <h3>{{product.product_name}}</h3> </a>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>₹ {{product.price}}</h4>
            </div>
            <a href="{% url 'add_cart' product.id %}"> <button class="cart-btn">Add to cart</button> </a>
        </div>
        {% endfor %}
    </div>

{% comment %} pagination {% endcomment %}
<div class="pagination">
    {% if products.has_other_pages %}
        {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}">&laquo;</a>
        {% else %}
            <a href="#">&laquo;</a>
        {% endif %}

        {% for i in products.paginator.page_range %}
            {% if products.number == i %}
                <a href="#" class="active">{{i}}</a>
            {% else %}
                <a href="?page={{i}}">{{i}}</a>
            {% endif %}
        {% endfor %}

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">&raquo;</a>
        {% else %}
            <a href="#">&raquo;</a>
        {% endif %}
    {% endif %}

  </div>

    
</section>

<section id="newsletter" class="section-p1 section-m1" >
    <div class="news-txt">
        <h3>Sign Up For NewsLetters</h3>
        <p>Get updates through E-mail about our new products and exclusive offers!</p>
    </div>
    <div class="form">
        <input type="text" placeholder="Enter E-mail address">
        <button>Sign Up</button>
    </div>
</section>


{% endblock %}